{{ define "main" }}

<section class="section-sm pb-0 bg-about">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto text-bottom">
      </div>
    </div>
  </div>
</section>

<section class="section" id="about">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-md-6 offset-md-1">
        <p>{{.Content}}</p>
      </div>

      <div class="col-lg-3">
        <div class="pl-4 mt-5">
          <iframe height='230' width='300' frameborder='0' allowtransparency='true' scrolling='yes' src='https://www.strava.com/athletes/4653468/latest-rides/89b50388414b405435da4ad3868383f5f84124a4'></iframe>  
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}