{{ define "main" }}

<section class="section-sm pb-0 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="text-center">{{.Title | markdownify}}</h1>
        {{ with .Params.image }}
        <img src="{{ . | absURL }}" alt="author" class="author-img">
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <div class="content">{{.Content}}</div>
    </div>


    <div class="col-lg-4 mx-auto">
      <div class="content">
        <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/4653468/latest-rides/89b50388414b405435da4ad3868383f5f84124a4'></iframe>
      </div>
    </div>
  </div>
</section>

{{ end }}